@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* RESET : permet d'effacer le style par défaut imposé par le navigateur */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*-------------------------------------------------------------------------------------------*/
/* mes polices */
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}


.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 12px;
}

/*-------------------------------------------------------------------------------------------*/
/* dans un container on un a max-width et un width 100% */
.container-1000 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

.container-1000-with-gap {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;


}

/*-------------------------------------------------------------------------------------------*/

/* TEST DE VISUALISATION POUR LES NULS!!!*/

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}

/*-------------------------------------------------------------------------------------------*/


/* les classe fonctionnelle flex */

.flex {
    display: flex;
    /*rendre flexible un parent = aligner ses enfants */
    flex-wrap: wrap;
    /* revient à la ligne */
}

/* mettre un espace entre les enfant*/
.space-between {
    justify-content: space-between;
}

/* en plus un espace sur les côtés*/
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-flexstart {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-around {
    align-self: space-around;
}

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.text-justify {
    text-justify: inter-character;
}


.item-center {
    justify-items: center;
}

/* OMG!!!!!! */
.vertical {
    flex-direction: column
}

/*-------------------------------------------------------------------------------------------*/
/* les classes de largeur */


.w-05 {
    width: 5%;
}


.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}


.w-20 {
    width: 20%;
}

.w-23 {
    width: 23%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-29 {
    width: 29%;
}

.w-30 {
    width: 33%;
}


.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-42 {
    width: 42%;
}

.w-45 {
    width: 48%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 80%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.size-10 {
    font-size: 10px;
}

.size-20 {
    font-size: 20px;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* seul les margin top et bottom sont tolérés*/
/* Beaucoup de margin bottom et top beaucoup trop, dsl je ne suis pas encore au point*/

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-200 {
    margin-top: 200px;
}

/* j'en suis réduit à faire des margin de 1*/
.margin-bottom-1 {
    margin-bottom: 1px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.margin-bottom-300 {
    margin-bottom: 300px;
}

/*honte sur moi désolé pour ces 2 margins*/

.margin-right-50 {
    margin-right: 50px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-left-150 {
    margin-left: 150px;
}

.gap-20 {
    gap: 20px;
}

/*-------------------------------------------------------------------------------------------*/

/*classe bouton*/
.btn {
    background-color: #996830;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    display: inline-block;
}

.btn-secondary {
    font-size: 14px;
}

.btn-tri {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 20px;
    align-items: center;

}

/*-------------------------------------------------------------------------------------------*/

/* ce que j'apelle les inchangés*/

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


.txt-white {
    color: white;
}

/*-------------------------------------------------------------------------------------------*/
/* page index*/
/* header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 15vH;
}

/*-------------------------------------------------------------------------------------------*/
/* section hero*/

.section-hero {
    background-image: url(asset/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vH;
    margin-top: 80px;
    color: white;

}

h1 {
    font-size: 72px;
    font-weight: 300;
}

/*-------------------------------------------------------------------------------------------*/
/* section nos services */

#line {
    height: 3px;
    width: 70px;
    background-color: #996830;

}

.goldy-project {
    color: #996830;
}

h2 {
    font-weight: 100;
    font-size: 15px;
}

h3 {

    font-size: 30px;
    font-weight: 100;
    line-height: 2em;

}

.solid-border {
    border: solid;
    border-color: #996830;
}

.padding-20 {

    padding: 20px;
}

.padding-30 {

    padding: 30px;
}


/*-------------------------------------------------------------------------------------------*/
/* section nos engagement*/

.section-engagement {
    background-color: #996830;
    color: white;
}

#line2 {
    height: 3px;
    width: 70px;
    background-color: white;

}

.padding-10 {

    padding: 10px;
}

/*-------------------------------------------------------------------------------------------*/
/* section PROJECT*/

.largeur {
    width: 100%;
    height: 30vH;
}

.WTF-rendre-la-dedans {
    object-fit: cover;


    /* or
  object-fit: cover; */
}


/*-------------------------------------------------------------------------------------------*/
/* footer*/

.footer {
    background-color: #996830;
    color: white;
}

/*-------------------------------------------------------------------------------------------*/
/* form*/

input {
    display: block;
}